In [1]:
import pandas as pd
import numpy as np
import pyodbc
from sqlalchemy import create_engine

pd.set_option('display.max_columns', None)

In [2]:
import sys
import os

project_path = r"C:\Users\Administrator\BDI-predator"

# add path to sys.path if not already added
if project_path not in sys.path:
    sys.path.append(project_path)

In [3]:
conn = pyodbc.connect(
    'DRIVER={SQL Server};SERVER=10.197.51.166;DATABASE=tempDBPredator;UID=Predator_ML;PWD=predatorml'
)

# Query for Credit Channel

In [4]:
sampling_pct = 1

In [5]:
query = f'''
DECLARE @sampling_percentage FLOAT = {sampling_pct};

WITH tsf_c03 AS (
    SELECT *
    FROM Transaction_Summary_Fraud
    WHERE Channel = 'C03'
)

, t_base AS (
    SELECT
        c03.*,
        tsf_c03.Confirmed
    FROM C03_Details AS c03
    LEFT JOIN tsf_c03
        ON c03.[Transaction Serial No] = tsf_c03.[Transaction Serial No]
    WHERE Confirmed = '1' OR Confirmed = '0'
)

, t_clean AS (
	SELECT
		[Transaction Serial No],
		[Product Indicator],
		[Release Number],
		Status,
		[Originator Code],
		[Responder Code],
		MTI,
		[Primary Bit Map],
		[Secondary Bit Map],
		PANNumber,
		[Processing Code],
		[Transaction Amount],
		[Card Billing Amount],
		[Transmission Date],
		STAN,
		[Transaction Datetime],
		[Expiration Date],
		[Settlement Date],
		[Capture Date],
		MCC,
		[Country Code],
		[POS Entry Mode],
		[POS Condition Code],
		[Auth ID Response Length],
		[Merchant Id],
		Track2,
		[Retrival Reference Number],
		[Auth ID Response],
		[Response Code],
		[Card Acceptor TerminalID],
		[Card Acceptor ID],
		[Terminal Owner],
		[Terminal CIty],
		[Terminal State],
		[Terminal Country],
		[Additional Data],
		[Currency Code],
		[Terminal Data],
		[POS Data],
		[Banknet Data],
		[Recv Institution ID],
		[Account Identification1],
		[Account Identification2],
		[Auth AgentID],
		[Settlement Record],
		[Batch and Shift Data],
		[Settlement Data],
		[Account Indicator],
		[Pre authorization],
		[ATM Additional Data],
		Confirmed
	FROM (
		SELECT *,
			ROW_NUMBER() OVER(
				ORDER BY CHECKSUM([Transaction Serial No])
			) AS rn,
			COUNT(*) OVER() AS total
		FROM t_base
		WHERE Confirmed = '0'
	) AS sub
	WHERE rn <= total * (@sampling_percentage)
)

, t_fraud AS (
	SELECT
		[Transaction Serial No],
		[Product Indicator],
		[Release Number],
		Status,
		[Originator Code],
		[Responder Code],
		MTI,
		[Primary Bit Map],
		[Secondary Bit Map],
		PANNumber,
		[Processing Code],
		[Transaction Amount],
		[Card Billing Amount],
		[Transmission Date],
		STAN,
		[Transaction Datetime],
		[Expiration Date],
		[Settlement Date],
		[Capture Date],
		MCC,
		[Country Code],
		[POS Entry Mode],
		[POS Condition Code],
		[Auth ID Response Length],
		[Merchant Id],
		Track2,
		[Retrival Reference Number],
		[Auth ID Response],
		[Response Code],
		[Card Acceptor TerminalID],
		[Card Acceptor ID],
		[Terminal Owner],
		[Terminal CIty],
		[Terminal State],
		[Terminal Country],
		[Additional Data],
		[Currency Code],
		[Terminal Data],
		[POS Data],
		[Banknet Data],
		[Recv Institution ID],
		[Account Identification1],
		[Account Identification2],
		[Auth AgentID],
		[Settlement Record],
		[Batch and Shift Data],
		[Settlement Data],
		[Account Indicator],
		[Pre authorization],
		[ATM Additional Data],
		Confirmed
	FROM t_base
	WHERE Confirmed = '1'
)

SELECT * FROM t_clean
UNION ALL
SELECT * FROM t_fraud;
'''

In [6]:
df_credit = pd.read_sql(query, conn)

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_1536\2384210851.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_credit = pd.read_sql(query, conn)

In [7]:
df_credit.Confirmed.value_counts(normalize=True)

Confirmed
0    0.798718
1    0.201282
Name: proportion, dtype: float64

# Feature Engineering

In [8]:
from model_diagnostic.src.calculation_features import (
    calculate_frequency,
    calculate_monetary,
    calculate_unique_count,
    calculate_time_differences,
    calculate_monetary_max,
    generate_rolling_features
)
from model_diagnostic.src.utils import infer_and_cast_dtypes

In [20]:
df_credit_convert = infer_and_cast_dtypes(df_credit)

C:\Users\Administrator\BDI-predator\model_diagnostic\src\utils.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_converted[col] = pd.to_datetime(df_converted[col], errors='raise')

In [21]:
pd.set_option('display.max_rows', None)

unique_values_df = df_credit_convert.apply(lambda x: x.unique())
unique_values_df

Transaction Serial No        [1017547875, 1017548332, 1017548893, 101754244...
Product Indicator                                                       [2, 1]
Release Number                                                            [60]
Status                                                                     [0]
Originator Code                                                         [NULL]
Responder Code                                                          [NULL]
MTI                                                       [200, 420, 220, 221]
Primary Bit Map              [B63EE4A128E1801A, B63EA4812EE1801A, B23EE4A12...
Secondary Bit Map            [00000000100000BC, 00000040140000BC, 000000001...
PANNumber                    [481434323, 818574278, 679089279, 604815979, 9...
Processing Code                    [30, 810000, 800030, 20030, 200030, 501030]
Transaction Amount           [34620.0, 57500.0, 104000.0, 14861500.0, 37800...
Card Billing Amount          [34620.00, 57500.00, 104000.00, 14861500.00, 3...
Transmission Date                                                       [NULL]
STAN                         [8574, 8628, 8683, 7930, 8870, 7483, 7669, 842...
Transaction Datetime         [2024-11-01 01:48:40, 2024-11-01 01:49:47, 202...
Expiration Date              [2503.0, 2910.0, 3003.0, 2509.0, 2701.0, 3111....
Settlement Date                                                         [NULL]
Capture Date                                                            [NULL]
MCC                          [4900.0, 5999.0, 4121.0, 7311.0, 4722.0, nan, ...
Country Code                 [360, 840, 702, 356, 410, 826, 156, 978, 566, ...
POS Entry Mode               [10.0, 12.0, 11.0, 72.0, 71.0, 22.0, 51.0, 21....
POS Condition Code           [15.0, 0.0, 51.0, 8.0, 27.0, nan, 1.0, 7.0, 2....
Auth ID Response Length                                             [6.0, nan]
Merchant Id                  [9312, 481400, 401134, 431330, 18196, 18622, 3...
Track2                       [55223922892980192503, 43244922730400632910, 5...
Retrival Reference Number    [903772, 657082, 430501906032, 938778, 4305016...
Auth ID Response             [nan, 814162.0, 540400.0, 544608.0, 541246.0, ...
Response Code                                   [, 96, 17, 68, 22, 00, 64, R9]
Card Acceptor TerminalID     [10564098, 10564096, 10579146, OZHX6TBI, 99999...
Card Acceptor ID             [0.0, 259118.0, 163052.0, 163241.0, 260160.0, ...
Terminal Owner               [DANA Utilities, BLIBLI-3DS, LYFT   *TEMP AUTH...
Terminal CIty                [Jakarta, 02127519386, JAKARTA PUSAT, +1855280...
Terminal State               [000, , CA, FL, D,  Dubl, VA, NY, MA, ID, MO, ...
Terminal Country             [ID, US, IE, SG, GB, NL, HK, 000, AU, , CN, KR...
Additional Data              [001999333662       00000000, 001999333660    ...
Currency Code                [360, 526567004876673    00000000, 49875000462...
Terminal Data                [INASINAS4200000, BASEBASE4200000, 360, BDANPR...
POS Data                     [BDIN000003100000000, BDINPRO103100000000, BDI...
Banknet Data                 [0000300080C00002612710762000022MPLAGBJMB1031,...
Recv Institution ID          [99, 0000300080C00002624702000022MCOA2S3AU1028...
Account Identification1      [503329600, 51558886, 797400304, 274425646, 69...
Account Identification2      [144252082, 400797236, 522606508, 604132651, 8...
Auth AgentID                 [000000000000000000, , 000000000000000000P0, 0...
Settlement Record            [00000000000000000000, 90603200000000000000, 6...
Batch and Shift Data         [000000000, 00000000000000000000, 384319000000...
Settlement Data              [MBNET000010, VVISA000000, 000000000, MBNETB24...
Account Indicator                            [012, MBNET000010, VVISA000000, ]
Pre authorization            [00000000000000000000000000000000000000, 00043...
ATM Additional Data          [038, 00000000000000000000000000000000000000, ...
Confirmed                                                               [0, 1]
dtype: object

In [22]:
df_credit_convert.to_csv("mock_data.csv")

In [11]:
# Define the columns to shift and their groupby keys
shift_columns = {
    'time_row_before': ['PANNumber'],
    'time_row_before_from_account_to_account': ['Account Identification1', 'Account Identification2'],
    'time_row_before_to_account': ['Account Identification2'],
    'time_row_before_merchant': ['PANNumber', 'Merchant Id'],
    'time_row_before_mcc': ['PANNumber', 'MCC'],
    'time_row_before_countrycode': ['PANNumber', 'Country Code']
}

# Map the shift columns to their corresponding time difference output columns
time_diff_columns = {
    'TSLastTxn_mins': 'time_row_before',
    'TSLastTxn_from_acct_to_acct_mins': 'time_row_before_from_account_to_account',
    'TSLastTxn_to_acct_mins': 'time_row_before_to_account',
    'TSLastTxn_to_merchant_mins': 'time_row_before_merchant',
    'TSLastTxn_country_code_mins': 'time_row_before_countrycode',
}

# call the function
df_credit_convert = calculate_time_differences(
    df = df_credit_convert,
    datetime_col = 'Transaction Datetime',
    shift_columns = shift_columns,
    time_diff_columns = time_diff_columns
)

### Transaction Count Same from Account No

In [12]:
features_config = [
    {
        "type": "frequency",
        "groupby": "Account Identification1",
        "amount_col": "Transaction Amount",
        "groupby_type": "No",
        "groupby_col": None,
        "windows": {
            "900S": "MFTxnCount_L15M",
            "1H": "MFTxnCount_L1H",
            "1D": "MFTxnCount_L1D",
            "7D": "MFTxnCount_L7D",
            "14D": "MFTxnCount_L14D",
            "30D": "MFTxnCount_L30D",
            "90D": "MFTxnCount_L90D",
        }
    }
]

df_new = generate_rolling_features(df_credit_convert, datetime_col="Transaction Datetime", key_col="Transaction Serial No", features_config=features_config)

C:\Users\Administrator\BDI-predator\model_diagnostic\src\calculation_features.py:43: FutureWarning: 'S' is deprecated and will be removed in a future version, please use 's' instead.
  .rolling(window, closed="left")
C:\Users\Administrator\BDI-predator\model_diagnostic\src\calculation_features.py:43: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  .rolling(window, closed="left")

In [13]:
df_new

,Transaction Serial No,Product Indicator,Release Number,Status,Originator Code,Responder Code,MTI,Primary Bit Map,Secondary Bit Map,PANNumber,Processing Code,Transaction Amount,Card Billing Amount,Transmission Date,STAN,Transaction Datetime,Expiration Date,Settlement Date,Capture Date,MCC,Country Code,POS Entry Mode,POS Condition Code,Auth ID Response Length,Merchant Id,Track2,Retrival Reference Number,Auth ID Response,Response Code,Card Acceptor TerminalID,Card Acceptor ID,Terminal Owner,Terminal CIty,Terminal State,Terminal Country,Additional Data,Currency Code,Terminal Data,POS Data,Banknet Data,Recv Institution ID,Account Identification1,Account Identification2,Auth AgentID,Settlement Record,Batch and Shift Data,Settlement Data,Account Indicator,Pre authorization,ATM Additional Data,Confirmed,time_row_before,time_row_before_from_account_to_account,time_row_before_to_account,time_row_before_merchant,time_row_before_mcc,time_row_before_countrycode,TSLastTxn_mins,TSLastTxn_from_acct_to_acct_mins,TSLastTxn_to_acct_mins,TSLastTxn_to_merchant_mins,TSLastTxn_country_code_mins,MFTxnCount_L15M,MFTxnCount_L1H,MFTxnCount_L1D,MFTxnCount_L7D,MFTxnCount_L14D,MFTxnCount_L30D,MFTxnCount_L90D
0,911927165,2,60,0,NULL,NULL,420,B63EA4812EE1801A,00000040140000BC,354275924,30,10000.0,10000.00,NULL,3626,2024-06-18 01:10:36,2805.0,NULL,NULL,NaN,360,10.0,15.0,NaN,9312,55223923457275552805,560178,354864.0,96,11061237,0.0,Dana,Jakarta,000,ID,001999142043 00000000,360,INASINAS4200000,BDINPRO103100000000,00002000442000022MPLSYPTCE0618,99,294769992,182443457,000000000000000000,00000000000000000000,000000000,MBNET000010,012,00000000000000000000000000000000000000,038,0,NaT,NaT,NaT,NaT,NaT,NaT,-1.000000,-1.0,-1.0,-1.000000,-1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,911927281,2,60,0,NULL,NULL,200,B63EE4A128E1801A,00000000100000BC,354275924,800030,101000.0,101000.00,NULL,3642,2024-06-18 01:11:12,2805.0,NULL,NULL,6540.0,360,10.0,15.0,6.0,9312,55223923457275552805,758157,NaN,,10352650,0.0,dana,Jakarta,000,ID,001996240001 00000000,360,INASINAS4200000,BDIN000003100000000,0000300080C000026702000022MPLGYZU3S0618,99,285990347,723451701,000000000000000000,00000000000000000000,000000000,MBNET000010,012,00000000000000000000000000000000000000,038,0,2024-06-18 01:10:36,NaT,NaT,2024-06-18 01:10:36,NaT,2024-06-18 01:10:36,0.600000,-1.0,-1.0,0.600000,0.600000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,911927436,2,60,0,NULL,NULL,200,B63EE4A128E1801A,00000000100000BC,354275924,30,12500.0,12500.00,NULL,3655,2024-06-18 01:11:56,2805.0,NULL,NULL,6540.0,360,10.0,15.0,6.0,9312,55223923457275552805,658624,NaN,,10352650,0.0,dana,Jakarta,000,ID,001996240001 00000000,360,INASINAS4200000,BDIN000003100000000,0000300080C000026762000022MPLV4GF6P0618,99,796521612,532021356,000000000000000000,00000000000000000000,000000000,MBNET000010,012,00000000000000000000000000000000000000,038,0,2024-06-18 01:11:12,NaT,NaT,2024-06-18 01:11:12,2024-06-18 01:11:12,2024-06-18 01:11:12,0.733333,-1.0,-1.0,0.733333,0.733333,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,911636259,2,60,0,NULL,NULL,200,B23EE4A128E1801A,00000000100000BC,631711012,810000,0.0,NULL,NULL,13385,2024-06-18 01:20:42,2807.0,NULL,NULL,5969.0,360,10.0,15.0,6.0,15611,54226093675050102807,132930,NaN,,015611,0.0,PIPO_MDES_PH1,St. Louis,000,US,CARD ACCPT IDC 00000000,360,INASINAS4200000,BDIN000000000000000,0000300080C00002663368702000022MCCX0PHY30617,99,591487246,386205589,000000000000000000,00000000000000000000,000000000,MBNET000010,012,00000000000000000000000000000000000000,038,0,NaT,NaT,NaT,NaT,NaT,NaT,-1.000000,-1.0,-1.0,-1.000000,-1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,911929505,2,60,0,NULL,NULL,200,B63EE4A128E1801A,00000000100000BC,78656044,800030,179000.0,179000.00,NULL,3971,2024-06-18 01:22:46,2907.0,NULL,NULL,5818.0,360,10.0,15.0,6.0,4619,54430400109717372907,249451,NaN,,00212957,0.0,APPLE.COM/BILL,ITUNES.COM,,IE,212957000200925 00000000,360,INASINAS4200000,BDIN000003100000000,0000300080C000026702000022MCGUQKP9Q0618,99,794412449,367353852,000000000000000000,00000000000000000000,000000000,MBNET000010,012,00000000000000000000000000000000000000,038,0,NaT,NaT,NaT,NaT,NaT,NaT,-1.000000,-1.0,-1.0,-1.000000,-1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35398,1100332347,2,60,0,NULL,NULL,200,B63EE4A128E1801A,00000000100000BC,999438192,800030,89000.0,89000.00,NULL,9239,2025-03-14 12:31:57,2702.0,NULL,NULL,5818.0,360,10.0,8.0,6.0,4619,55233890096580002702,760216,NaN,,00212957,0.0,APPLE.COM/BILL,ITUNES.COM,,IE,212957000200925 00000000,360,INASINAS4200000,BDIN000003100000000,0000300080C000026702000022MCWQ1O32D0313,99,113969764,30523194,000000000000000000,00000000000000000000,000000000,MBNET000010,012,00000000000000000000000000000000000000,038,0,2025-03-14 04:40:26,NaT,NaT,2025-03-14 04:40:26,2025-03-14 04:40:26,2025-03-14 04:40:26,471.516667,-1.0,-1.0,471.516667,471.516667,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35399,1100752059,2,60,0,NULL,NULL,200,B63EE4A128E1801A,00000000100000BC,750161772,30,2993596.0,2993596.00,NULL,32280,2025-03-14 12:33:44,3205.0,NULL,NULL,9399.0,360,10.0,15.0,6.0,18196,51663400002985953205,642292,NaN,,79991102,0.0,PT. GLOBAL DIGITAL NIA,Jakarta,,ID,71640144421 00000000,360,INASINAS4200000,BDIN000003100000000,0000300080C0000266741011051222000022MWESLG5150314,99,577630322,24237490,000000000000000000,00000000000000000000,000000000,MBNET000010,012,00000000000000000000000000000000000000,038,0,2025-03-14 12:31:49,NaT,NaT,2025-03-14 12:31:49,2025-03-14 12:31:49,2025-03-14 12:31:49,1.916667,-1.0,-1.0,1.916667,1.916667,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35400,1100333337,2,60,0,NULL,NULL,200,B23EE4A128E1801A,00000000100000BC,512666710,810000,0.0,NULL,NULL,9354,2025-03-14 12:37:13,2801.0,NULL,NULL,5969.0,360,10.0,15.0,6.0,15611,54226095106728992801,888329,NaN,,015611,0.0,Agoda,St. Louis,000,US,CARD ACCPT IDC 00000000,360,INASINAS4200000,BDIN000000000000000,0000300080C00002663368702000022MCCUH9R2A0313,99,47784217,607218481,000000000000000000,00000000000000000000,000000000,MBNET000010,012,00000000000000000000000000000000000000,038,0,NaT,NaT,NaT,NaT,NaT,NaT,-1.000000,-1.0,-1.0,-1.000000,-1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35401,1100333351,2,60,0,NULL,NULL,200,B63EE4A128E1801A,00000000100000BC,512666710,800030,271195.0,271195.00,NULL,9357,2025-03-14 12:37:15,2801.0,NULL,NULL,4722.0,360,12.0,15.0,6.0,18622,54226095106728992801,344239,NaN,,018622,0.0,AGODA.COM,Internet,000,SG,230198000200614 00000000,360,INASINAS4200000,BDIN000003100000000,0000300080C0000263430497127102000022MCCE1S0R30313,99,901372538,350430627,000000000000000000,00000000000000000000,000000000,MBNET000010,012,00000000000000000000000000000000000000,038,0,2025-03-14 12:37:13,NaT,NaT,NaT,NaT,2025-03-14 12:37:13,0.033333,-1.0,-1.0,-1.000000,0.033333,0.0,0.0,0.0,0.0,0.0,0.0,0.0
35402,1100335581,2,60,0,NULL,NULL,200,B63EE4A128E1801A,00000000100000BC,999438192,800030,89000.0,89000.00,NULL,9623,2025-03-14 12:48:16,2702.0,NULL,NULL,5818.0,360,10.0,8.0,6.0,4619,55233890096580002702,978202,NaN,,00212957,0.0,APPLE.COM/BILL,ITUNES.COM,,IE,212957000200925 00000000,360,INASINAS4200000,BDIN000003100000000,0000300080C000026702000022MCWLUJY3J0313,99,29507657,275239358,000000000000000000,00000000000000000000,000000000,MBNET000010,012,00000000000000000000000000000000000000,038,0,2025-03-14 12:31:57,NaT,NaT,2025-03-14 12:31:57,2025-03-14 12:31:57,2025-03-14 12:31:57,16.316667,-1.0,-1.0,16.316667,16.316667,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [23]:
df_c09 = pd.read_sql("SELECT TOP 10000 * FROM C09_Details", conn)

C:\Users\Administrator\AppData\Local\Temp\2\ipykernel_1536\1130842465.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df_c09 = pd.read_sql("SELECT TOP 10000 * FROM C09_Details", conn)

In [25]:
df_c09 = infer_and_cast_dtypes(df_c09)

C:\Users\Administrator\BDI-predator\model_diagnostic\src\utils.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_converted[col] = pd.to_datetime(df_converted[col], errors='raise')
C:\Users\Administrator\BDI-predator\model_diagnostic\src\utils.py:23: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df_converted[col] = pd.to_datetime(df_converted[col], errors='raise')

In [29]:
df_c09.to_csv("mock))

,MTI,Primary Bit Map,Secondary Bit Map,Card No,Processing Code,Transaction Amount,Recon Amount,Transmision Date and Time,STAN,Transaction Datetime,Expiry Date,Capture Date,Country Code,Card Data Input Capability,Cardholder Auth Capability,Card Capture Capability,OS,Cardholder Present,Card Present,Card Input Mode,Cardholder Auth Method,Cardholder Auth Entity,Card Data Output Capability,Terminal Output Capability,PIN Capture Capability,Card Sequence No,Function Code,Message Reason Code,MCC,AcquirerID,Forwarding ID,Track2,RRN,Approval Code,Action Code,Card Acceptor Terminal ID,Card Acceptor Id Code,Card Acceptor Name,Card Acceptor Street,Card Acceptor City,Card Acceptor Postal Code,Card Acceptor Region Code,Card Acceptor Country Code,Transaction Currency Code,Recon Currency Code,Original MTI,Original STAN,OriginalTrxDatetime,Original Acquirer ID,Reserved Private 1,Debit Account No,Credit Account No,Reserved Private 2,Transaction Amount IDR
0,1100,FA34A64108E0C004,4000020,445035122,4000,9666800.00,9666800.00,2024-06-17 01:00:32,91184,2024-06-17 01:00:32,2712.0,NaT,360,6,6.0,0.0,5,S,0.0,6,0,0.0,0.0,0.0,1,663,NaN,NaN,7278,370100,NaN,,004711,NaN,NaN,MR00G133,8464305788,WWW.SHOPEE.CO.ID,,JAKARTA BARAT,11410,,NULL,360,360,NaN,NaN,NULL,,07001208002AE1600600400017016AMEXGNS_PI_INTF 2...,226903657,98451925,04004677407001508004C00009144 ...,9666800.00
1,1100,FA34A64108E0C004,4000020,178193078,4000,388400.00,388400.00,2024-06-17 01:00:47,95940,2024-06-17 01:00:47,2712.0,NaT,360,6,6.0,0.0,5,4,0.0,6,0,0.0,0.0,0.0,1,184,NaN,NaN,7278,370100,NaN,,367911,NaN,NaN,MR00G133,8463508689,TOKOPEDIA.COM,,JAKARTA BARAT,11110,,NULL,360,360,NaN,NaN,NULL,,07001208002AE1600600400017016AMEXGNS_PI_INTF 2...,761952642,9341392,04004678007001508004C00009144 ...,388400.00
2,1100,FA34A64108E0C004,4000020,836381779,4000,43.35,28.73,2024-06-17 01:00:59,95864,2024-06-17 01:00:59,2707.0,NaT,36,1,0.0,0.0,0,2,0.0,6,0,0.0,1.0,0.0,0,745,NaN,NaN,8999,370100,NaN,,013110,NaN,NaN,3333,9798661336,COVER GENIUS PTY LTD,,WILLOUGHBY,2068,NSW,,036,840,NaN,NaN,NULL,,07001208002AE1600600400017016AMEXGNS_PI_INTF 2...,738146354,797542354,04004508941006240618,472033.90
3,1100,FA34A64128E0C004,4000020,525163582,4000,1445.40,888.49,2024-06-17 01:01:22,91266,2024-06-17 01:01:22,2410.0,NaT,554,0,0.0,0.0,0,0,1.0,5,1,0.0,0.0,0.0,0,312,NaN,NaN,5691,370100,NaN,375539004078006=241020189105946600001,323611,NaN,NaN,A300GG1A,9840536015,GERMAY LIMITED,,1010,,,NULL,554,840,NaN,NaN,NULL,,07001208002AE1600600400017016AMEXGNS_PI_INTF 2...,552605925,902934674,36007401 41006240618,14597890.70
4,1100,FA34A64108E0C004,4000020,927017888,4000,38000.00,38000.00,2024-06-17 01:01:55,91186,2024-06-17 01:01:55,2803.0,NaT,360,A,6.0,0.0,9,S,0.0,6,0,0.0,0.0,0.0,1,739,NaN,NaN,5499,370100,NaN,,573511,NaN,NaN,VI00GE71,8467790432,GRAB FOOD CYB N3DS,,JAKARTA SLT,12430,,NULL,360,360,NaN,NaN,NULL,,07001208002AE1600600400017016AMEXGNS_PI_INTF 2...,107045908,695251732,41006240618,38000.00

# Query for Debit Channel

In [ ]:
debit_query = '''

'''